#root {
  width: 100vw;
  text-align: center;
}

@keyframes bounce-pop {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}

.animate-pop {
  display: inline-block;
  animation: bounce-pop 300ms ease-out;
}
